.container {
  margin: 20px;
  display: grid;
  /* width: 800px; */
  /* height: 800px; */
  /* grid-template-columns: 200px 150px 20% 1fr;*/
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 5rem minmax(10px, 20rem);
  gap: 10px;
  grid-template-areas:
    'hd hd hd hd'
    'side side main main'
    'ft ft ft ft';
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: center;
}

@media (max-width: 40rem) {
  .container {
    grid-template-rows: 5rem minmax(10px, 20rem) 150px 100px;
    grid-template-areas:
      'hd hd hd hd'
      'main main main main'
      'side side side side'
      'ft ft ft ft';
  }
}

.el1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: rgba(255, 154, 72, 0.5);
  grid-area: side;
}

.el2 {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  background: rgba(255, 0, 0, 0.5);
  grid-area: main;
  /* grid-column-start: 1; */
  /* grid-column-end: 3; */
  /* grid-row-start: 2; */
  /* grid-row-end: span 1; */
  /* z-index: 10; */
}

.el3 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background: rgba(0, 128, 0, 0.5);
  grid-area: hd;
  /* grid-column-start: 3; */
  /* grid-column-end: 5; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
}

.el4 {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  grid-area: ft;
  background: rgba(0, 4, 255, 0.5);
}
